.nav-dropdown :global(.dropdown-toggle::after) {
  /* Remove arrow */
  /* display: none; */
}
.nav-dropdown :global(.dropdown-menu) {
  margin: 0 !important; /* Override Bootstrap */
}

/* One or more available input mechanisms can conveniently hover over elements. */
@media (any-hover: hover) {
  .nav-dropdown :global(.dropdown-menu) {
    display: none;
  }
  .nav-dropdown:hover :global(.dropdown-menu) {
    display: block;
  }
}
